/* Modal đăng ký */
.open {
  display: block;
}
.modal-close {
  
}
.modal.modal-account .box-group-account .form-btn-bottom a {
  color: #1982f9;
  
}
.modal .modal-content {
  border-radius: 16px;
  border: none;
}
.modal .modal-header {
  border-bottom: 1px solid #cfcfcf;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}
.modal .modal-header h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 0;
}
.modal .modal-header button {
  box-shadow: none;
  background: none;
  outline: 0;
  border: none;
  display: inline-block;
  text-align: center;
}
.modal.modal-account .box-group-account .btn-acc {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background: #e30019;
  border-radius: 4px;
  width: 100%;
  padding: 12px 16px;
}

.modal.modal-account .box-group-account .line {
  text-align: center;
  margin: 24px 0;
  position: relative;
}
.modal.modal-account .box-group-account .line:before {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background: #cfcfcf;
  margin: auto;
}
.modal.modal-account .box-group-account .line span {
  display: inline-block;
  padding: 0 8px;
  background: #fff;
  position: relative;
  z-index: 1;
}
.modal.modal-account .box-group-account .btn-social-list {
  display: flex;
  margin-bottom: 24px;
}
.modal.modal-account .box-group-account .btn-social-list .btn-fb,
.modal.modal-account .box-group-account .btn-social-list .btn-gg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 42px;
  color: #fff;
}
.modal.modal-account .box-group-account .btn-social-list .btn-gg {
  background: #df4a32;
  border-color: #df4a32;
}
.modal.modal-account .box-group-account .btn-social-list .btn-fb {
  background: #3b5998;
  border-color: #3b5998;
}
.modal.modal-account .btn-social-list .button + button {
  margin-left: 8px;
}
.modal.modal-account .btn-social-list .btn-fb svg,
.modal.modal-account .btn-social-list .btn-gg svg {
  margin-right: 8px;
}
.modal.modal-account .modal-body {
  font-size: 16px;
}
.form-input {
  position: relative;
  margin-bottom: 16px;
}
.form-control,
.form-field {
  width: 100%;
  height: 40px;
  background: #ffffff;
  color: var(--color-text);
  border: 1px solid var(--color-line-border);
  border-radius: 4px;
  outline: none;
  padding: 0 16px;
  font-size: 14px;
  font-weight: 400;
  appearance: none;
  outline: none !important;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out,
    color 0.2s ease-in-out;
}
/* Modal đăng nhập */
